Repository Zelechos/Torneos-de-Tenis-de-Mesa-basado-en-llaves, pull requests merged in 2022-11, with the labels that each got.

#24 feat: create the frontend environment
  frontend/.gitignore
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/landing_page/nav_bar/NavBar.css
  frontend/src/landing_page/nav_bar/NavBar.js
  frontend/src/reportWebVitals.js
Labels: enhancement, good first issue, front-end

#34 feat: update nav bar
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/landing_page/nav_bar/NavBar.css
  frontend/src/landing_page/nav_bar/NavBar.js
  frontend/src/landing_page/nav_bar/NavBar.jsx
Labels: front-end

#35 12 feature crear formulario de registro de los torneos
  frontend/src/App.css
  frontend/src/index.js
  frontend/src/landing_page/nav_bar/NavBar.css
  frontend/src/landing_page/nav_bar/NavBar.jsx
  frontend/src/landing_page/pages/ConsumeApi/FormPartido/FormPartido.jsx
  frontend/src/landing_page/pages/ConsumeApi/ListPartidos/ListPartidos.jsx
  frontend/src/landing_page/pages/ConsumeApi/ListTournament/ListTournament.jsx
  frontend/src/landing_page/pages/ConsumeApi/formsTournament/FormTournament.css
  frontend/src/landing_page/pages/ConsumeApi/formsTournament/FormTournament.jsx
  frontend/src/landing_page/pages/Partido.jsx
  frontend/src/landing_page/pages/Torneo.jsx
  frontend/src/landing_page/pages/styles/Tournament.css
  frontend/src/landing_page/vertical_menu/Menu.css
  frontend/src/landing_page/vertical_menu/Menu.jsx
Labels: front-end

#43 3 feature crear el diagrama de clases
  docs/diagramDataBase.pdf
Labels: documentation
